/* ePub base r1.0 AudioWho */

body { margin:1em; }
p { margin:0; text-align:justify; text-indent:1.5em; line-height:1.3em; }
a { font-style:normal; font-weight:normal; text-decoration:none; }
sup, sub { font-size:0.75em; line-height:normal; }

/* Headers */
h1, h2, h3, h4, h5, h6 { margin-top:25%; text-align:center; text-indent:0; page-break-after:avoid; page-break-inside:avoid; adobe-hyphenate:none; hyphenate:none; hyphens:none; -moz-hyphens:none; -webkit-hyphens:none; }
	h1 { font-size:1.5em; }	/* sólo cambios aprobados, puede afectar páginas globales */
	h2 { font-size:1.5em; }
	h3 { font-size:1.4em; }
	h4 { font-size:1.3em; }
	h5 { font-size:1.2em; }
	h6 { font-size:1.1em; }

/* Fuentes */
.sans, .sans p, .sans em, .sans strong, .sans span { font-family:sans-serif; }
.serif, .serif p, .serif em, .serif strong, .serif span { font-family:serif; }
.mono, .mono p, .mono em, .mono strong, .mono span { font-family:monospace; }

/* Listas */
li { margin:0; text-align:justify; line-height:1.3em; }
